// https://coolors.co/2f4858-33658a-4191b2-f6ae2d-f26419

$slateGray: #2f4858;
$tealBlue: #33658a;
$steelBlue: #4191b2;
$saffron: #f6ae2d;
$giantsOrange: #f26419;

$blueberry: #4392F1;
$blueberryHover: #3778C6;

// https://www.instagram.com/p/Br3Zn7bh56h/
$navy: #1e3143;
$orange: #ff9523;
$white: #fff;
$ice: #44c9e1;

$orangeHover: #F27D00;

$lightGray: #eee;
$black: #000;

$saffronHover: rgb(214, 152, 38);

$noticeGreen: #97FF87;
$alertRed: #FF4C4C;

@import url('https://fonts.googleapis.com/css?family=Pacifico|Montserrat|Quicksand|Varela+Round|Kalam');
$varelaRound: 'Varela Round', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$pacifico: 'Pacifico', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$kalam: 'Kalam', sans-serif;
