// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

.home-header {
  padding: 15px;
  font-size: 42px;
}

.home-col {
  .home-col-header {
    font-size: 30px;
    border-bottom: 1.5px solid $slateGray;
    text-align: center;
  }

  .home-list-list {
    text-align: left;
    a {
      font-size: 24px;
      color: $black;
    }
    a:hover {
      text-decoration: none;
    }
    li:hover {
      background-color: $lightGray;
    }
  }
}

.home-signed-out {
  text-align: center;
  .body {
    font-size: 30px;
  }
  .header {
    padding: 15px;
    font-size: 56px;
  }
  .sign-up-button {
    width: fit-content;
    margin: auto;
    background-color: $saffron;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color .3s;
  }
  .sign-up-button:hover{
    background-color: $giantsOrange;
  }
  a {
    color: $black;
  }
  a:hover {
    text-decoration: none;
  }
}
